.lead {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 148px;  
}

@media (max-width: 1279px) {
  .lead {
    padding: 0 48px;    
  }
}

@media (max-width: 1023px) {
  .lead {
    padding: 0;
  }
}