.places_wrapper {
  padding: 92px 148px 0 148px;
}

@media (max-width: 1279px) {
  .places_wrapper {
    padding: 92px 48px 0 48px; 
  }
}

@media (max-width: 1023px) {
  .places_wrapper {
    padding: 88px 24px 0 24px;
  }
}

@media (max-width: 767px) {
  .places_wrapper {
    padding: 64px 0 0 0;
  }
}