.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  margin: 0;
}

.place__paragraph:first-child {
  padding-bottom: 26px;
}

@media (max-width: 1023px) {
  .place__paragraph:first-child {
    padding-bottom: 25px;
    font-size: 16px;
  }  
}

@media (max-width: 767px) {
  .place__paragraph {
    padding: 0 16px;
  }
  .place__paragraph:first-child {
    padding-top: 32px;
  }
}