.wrapper-size-l {
  padding: 0 48px;  
}

@media (max-width: 1023px) {
  .wrapper-size-l {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .wrapper-size-l {
    padding: 0 16px;
  }
}