.photo-grid__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1279px) {
  .photo-grid__items {
    gap: 14px;    
  }
}

@media (max-width: 1023px) {
  .photo-grid__items {
    gap: 16px;    
  }
}

@media (max-width: 767px) {
  .photo-grid__items {
    gap: 12px;    
  }
}